Body {
    font-family: 'Raleway', sans-serif;.
    text-align: center;
}


#dayt 
{
  display: flex;
  justify-content: center;
  height: 100px;
  border-bottom: 1px solid #2ecc71;
  padding-bottom: -100px;
}

#todayd {

  font-size: 80px;
  font-weight:800;
  color:  #2ecc71;
  margin-top: -10px;
  margin-right:10px

}

#todayd2 {
  font-size: 20px;
  font-weight:500;
  margin-bottom: 0px;
  flex-grow: 0;
  color:  #2ecc71;
}
#todayd3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight:500;
  flex-grow: 0;
  color:  #2ecc71;
}


#daybig {
  margin-left: 50px;
  font-size: 20px;
  font-weight:500;
  text-align: right;
  color:  #2ecc71;
}

#body3 {
   display: flex;
   justify-content: center;
    margin-top: 30px;
    text-align: center;
}


#todoInput {
    width:450px; height:40px;  
    border: none;
     border-bottom: 3px solid #2ecc71;
    padding:10px;
    font-size:16px;
    color: #2ecc71;
    margin: 1px;

   
}

#todobb {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}


    #todoadd, #select
    #todoadd::after ,  #select::after{
      -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    #todoadd {
      background: #2ecc71;;
      border: 3px solid #2ecc71;
      border-radius: 0px;
      color: white;
      font-size: 1.6em;
      font-weight: bold;
      margin: 10px;
      height:35px; 
      width: 40px;

    }

    #select-wh {
  text-align: center;
    }


    
    #select {
        background: #2ecc71;;
        border: 3px solid #2ecc71;
        border-radius: 0px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin: 10px;
        height:50px; 
        width: 100px;

      }
    
    #todoadd::before,
    #todoadd::after {
      background: white;
      color:  #2ecc71;
      content: '';
      z-index: -1;
    }

    #todoadd:hover {
        background: white;
        color:  #2ecc71;
    }


  
    #todobb {
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      overflow: auto;
    }   

    ul,li {margin: 0; padding:0;}

ul > li  {
    display: flex;
    list-style:none;
    border-bottom: 2px solid #2ecc71;
    width: 100%;

    min-width: 250px;
    max-width: 900px;
    padding: 10px;
    flex-wrap: wrap;
    }


button {
    background: #2ecc71;;
    border: 0px solid #2ecc71;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    height:30px; 
    width: 30px;
    top: 1.5px;

}   

span {
  text-align: left;
  line-height: 50px;
}

